.section {

  margin-bottom: 30px;

  &__content
  {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;
    border-top: 4px solid $main-color;
    padding: 20px;
  }

}

.logos img {
  margin: 5px;
}

.title {
  padding: 10px 20px;
  position: relative;
}


.container.main-content {
  padding-top: 150px;
}

.touch .main-content {
  padding-top: 10px;
}

#exp .employer {
  border-top: 1px solid #eee;

  &:first-child {
    border-top: 0;
  }
}

.modal {
  padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    text-align: center;
}



.pro-pic
{
  // text-align: center;
  // background: url(../images/bg-img.jpg);
  margin-bottom: 30px;
  border-radius: 30px;
  // background-position-y: -350px;
  // background-repeat-y: no-repeat;
  height: 300px;

  .pro-image {
    position: relative;
  }

  img
  {
    // width: 0;
    position: absolute;
    left: 100vw;
    opacity: 0;
    max-width: 300px;
    // max-height: 300px;
    border-radius:  50%;  
    border: 5px solid $main-color; 
    box-shadow: 2px 2px 10px #888888;
    transition: left ease 2s 1s, opacity ease 2.5s 1s;
  }
}

.pro-pic--animate {
  // transition: background-position-y ease 1.5s;
  // background-position-y: 0;

  img {
    left: 10px;
    margin: 0;
    // width: 100%;
    opacity: 1;
  }
}

.employer .role {
  font-style: italic;
  margin-bottom: 10px;
  display: block;
}

.job-list li {
  position: relative;
}

.mouse-here {
  text-align: center;
  padding: 20px 15px;
  border-top: 1px solid #eee;
  color: #ccc;
  
}

.touch .mouse-here {
  display: none;
}

.alert {
  border: 1px solid #f53d3d;
  padding: 10px 10px 10px 145px;
  border-radius: $border-radius;
  background-color: #fef5f5;
  color:#f53d3d;
  position:relative;
  margin-bottom: 15px;

  h2 {
    border-bottom:0; 
    position:absolute;

    top:3px;
    left:10px;      
  }
  p {
    margin: 0;
  }
}

.more-trigger {
  border: none;
  font-weight: bold;
  padding: 0;
  margin-bottom: 10px;

  .less-txt {
    display: none;
  }

  .glyphicon-minus,
  .glyphicon-plus {
      display: none;
  }
}

.section__head {
  .more-trigger {
    background: #FFF;
    font-size: 23px;
    margin: 0;
    padding: 5px 20px;
  }
}

.js .show-more
{

  .more {
    display: none;

    &.show {
      display: block;
    }

  }

  .more-trigger {
    .glyphicon-minus,
    .toggle-hide {
      display: none;
    }
    .glyphicon-plus,
    .toggle-show {
      display: inline-block;
    }
    
    &.body-show {
      .glyphicon-minus,
      .toggle-hide {
        display: inline-block;
      }
      .glyphicon-plus,
      .toggle-show {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 550px) and (max-width: 940px) {
  .main-content {
    padding: 135px 20px 5px 20px;
  }
}
@media screen and (max-width: 940px) {
  .pro-pic {
    img {
      margin-top: 20px;
      position: relative;
    }
  }
}

@media screen and (max-width: 550px) {

  .pro-pic
  { 
    height: auto;

    img
    {
      max-width: 150px;
      max-height: 150px;
      border-radius: 50%;  
      left: 0;
    }

    .hello {
      font-size: 16px;
    }
  }

  .section
  {
    margin-bottom: 10px; 

     &__content
    {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }

  .main-content {
    padding-top: 155px;
  }

  .title {
    padding: 10px;
  }

  .social {
    padding: 0;

    a:hover {
      background-color: red;
    }
  }

  .js .show-more {

    .more {
      display: block;
    }

    .more-trigger {
      display: inline-block;

      .glyphicon {
        display: none;
      }
    }
  }

  .body-show {
    .more-txt {
        display: none;
      }

      .less-txt {
        display: inline;
      }
  }
}