@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');


@media screen {
  body {
    font: 100%/1.4 'MuseoSans-500', Arial, Helvetica;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 13px;
  }

  ::selection {
    background: #666; /* Safari */
    color:#FFF;
  }
  ::-moz-selection {
    background: #666; /* Firefox */
    color:#FFF;    
  }

  #{headings()} {
    margin-top: 0;  
  }

  h2,
  .h2 {
    font-size: 23px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  h3,
  .h3 {
    margin: 10px 0 0;
    font-size: 12px;
    color: #666;
  }

  h3
  { 
    a:link,
    & a:visited,
    & .employer-title {
      font-size: 16px;
    }
  }

  a 
  {
    
    &:link 
    {
      color: $main-color;
      text-decoration: none;
      padding: 3px 4px;
      margin-left: -4px;
    }

    &:visited 
    {
      color: $second-color;

      &:hover {
        background: $second-color;        
      }
    }

    &:hover, 
    &:focus,
    &:active, 
    &.active 
    { 
      /*text-decoration: underline;*/
      background: $main-color;
      color: #fff;
      outline: $main-color;
      border-radius: 3px;
    }
    
  }


  .access {
    position: absolute;
    left: -9999px;
  }
}

@media screen and (max-width: 550px) {

  body {
    font-size: 14px;
  }

}