.header {
  background-color: #FFF;
  position:fixed;
  width:100%;
  z-index:1;

  .social {
    margin: 0;

    li {
      display: inline-block;
    }
  }

  .nav-wrap {
    background: #eee;
    padding: 5px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
    ul {
      padding: 0 10px;      
      text-align: center;

      a {
        font-size: 14px;    

        &:visited {
          color: $main-color;

          &:hover {
            background: $main-color;    
            color: #fff;    
          }
        }    
      }
    }
    li {
      display: inline-block;      
      margin-right: 0;
      border-left: 2px solid $main-color;
      padding-left: 10px;

      &:first-child
      {
        padding-left: 0;
        border-left: 0;
      }
    }
  }

}

.touch .header {
  position: relative;
}

@media screen and (min-width: 550px) {
  .header {
    
    .nav-wrap {
      ul {
        text-align: left;
        padding: 0 20px;
      }
      a {
        font-size: 14px;
      }
      li {
        margin-right: 10px;
        border-left: 0;

        &:first-child
        {
          padding-left: 0;
        }
      }
    }
    .social {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}