.header {
  background-color: #FFF;
  position:fixed;
  width:100%;
  z-index:1;

  .social-items {
    position: absolute;
    right: 20px;
    bottom: 5px;

    .fa {
      font-size: 2em;      
    }
    a {
      display: block;
    }
    ul {
      margin-bottom: 0;
    }
  }

  .nav-wrap {
    background: #eee;
    padding: 5px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
    ul {
      padding: 0 10px;      
      text-align: center;
      margin-bottom: 0;

      a {
        font-size: 14px;    
        color: #000;

        &:hover {
          text-decoration: none;
        }    
      }
    }
    li {
      border-left: 2px solid $main-color;

      &:first-child
      {
        padding-left: 0;
        border-left: 0;
      }
    }
  }

}

.touch .header {
  position: relative;
}

@media screen and (min-width: 550px) {
  .header {
    
    .nav-wrap {
      ul {
        text-align: left;
        padding: 0 20px;
      }
      a {
        font-size: 14px;
      }
      li {
        margin-right: 10px;
        border-left: 0;

        &:first-child
        {
          padding-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-min) {
  .header {
    .social-items {
      position: relative;
      right: auto;
      bottom: auto;
    }
  } 
}