 .tooltip {
    display: none;
    position: absolute;
    top: 20px;
    left: -20px;
    padding: 10px;
    background: #fff;
    @include box-shadow(5px 5px 10px #888);
    z-index: 2;
  }
  .tooltip img {
    width: 100%;
  }
  .touch .tooltip {
    display: none;
  }