<div class="mouse-here">
  mouse here for CV and References
</div>
<div class="contact-wrapper">
  <div class="contact-card">
    <dialog>
      <h2>References</h2>
      <ul>
        <li>
          <strong>Liam Snelling</strong> - Director Digital Detox
          <a href="mailto:liam@digital-detox.co.uk">liam@digital-detox.co.uk</a>
        </li>
        <li>
          <strong>Mike Woods</strong> - Digital Producer at Framestore
          <a href="mailto:mike.woods@framestore.com">mike.woods@framestore.com</a>
        </li>
        <li>
          <strong>Hanna Jane Price</strong> - HR Manager at Industrial Light &amp; Magic<br />
          <a href="mailto:hprice@ilm-vancouver.com">hprice@ilm-vancouver.com</a>
        </li>
        <li>
          <strong>Joel Veitch</strong> - Founder of Rathergood.com<br />
          <a href="mailto:joel@rathergood.com">joel@rathergood.com</a>
        </li>
        <li>
          <strong>Simon Gosling</strong> - Executive Producer at Framestore<br />
          <a href="mailto:sgosling@framestore.com">sgosling@framestore.com</a>
        </li>
      </ul>
    </dialog>
  </div>
</div>
<div class="footer-wrap show">
  <footer>
    <div class="footer">
      <ul>
        <li><a target="_blank" href="{{assets}}/SamGregoryCV-2012.pdf" title="download my web developer/producer">Download CV</a></li>
        <li><a href="#" class="references">References</a></li>
      </ul>
    </div>
  </footer>  
</div>