body {
  font: 100%/1.4 'MuseoSans-500', Arial, Helvetica;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 16px;
  background: $second-color;
}

::selection {
  background: $darkGreen; /* Safari */
  color:#FFF;
}
::-moz-selection {
  background: $darkGreen; /* Firefox */
  color:#FFF;    
}

h1, h2, h3, h4 {
  margin-top: 0;  
}

h2,
.h2 {
  font-size: 23px;
  font-weight: bold;
  display: inline-block;
  background: #fff;
  margin: 0;
  padding-bottom: 5px;
  padding: 5px 20px;
}
h3,
.h3 {
  margin: 10px 0 0;
  font-size: 16px;
  color: #666;
}

h3 { 
  a:link,
  & a:visited {
    font-size: 16px;
  }
}

a {
  padding: 3px 4px;
  margin-left: -4px;
}

@media screen and (max-width: 550px) {

  body {
    font-size: 14px;
  }
  ul {
    padding-left: 25px;

  }

}