.work {
	margin-bottom: 20px;
	
	&__image {
		position: relative;
		margin-bottom: 25px;
		display: inline-block;
		
		.btn {
			padding: 0;
		}

		img,
		iframe {
			transition: box-shadow ease-in .1s;
		}
	}

	&__image-hover {
		position: absolute;
		width: 100%;
		bottom: 0;
		padding: 5px 10px;
		background: rgba($main-color, 0.9);
		font-size: 18px;
		display: none;
		color: #FFF;

		a {
			color: #FFF;
		}
	}


	&__image:hover {
		.work__image-hover {
			display: block;
		}

		img,
		iframe {
			box-shadow: 0px 0px 15px #000;
		}
	}
}