<h1 class="sr-only">Sam Gregory - Web Developer &amp; Digital Media Professional</h1>

<div class="main-head">
  <div class="row">
    <div class="col-sm-4">
      <div class="main-head__pro-img--wrap text-center">
        <img src="https://avatars1.githubusercontent.com/u/9591167?v=3&s=460" alt="Sam Gregory | Web Developer and digital media professional" class="main-head__pro-img">
      </div>
    </div>
    <div class="col-sm-8 hidden-xs hidden-sm">
      <div class="main-head__hello">
        Hi, my name is Sam. I'm a Web Developer and digital media professional. <br>
        Feel free to look around.      
      </div>
    </div>
  </div>
</div>
   
<div class="section" id="home">  
  <h2 class="sr-only">Who I am</h2>
  <span class="h2">Hi There!</span>
  <div class="section__content">
    <p>
      I am an experienced digital media and production professional currently working as a Front-End Developer for <a href="http://digital-detox.co.uk" target="_blank">Digital Detox</a>, a Web Development agency based in South London. Primarily using HTML CSS and JAVASCRIPT. I love the web and In my spare time I have also created websites for my theatre company <a href="http://velvettrumpet.co.uk" target="_blank">Velvet Trumpet</a>, <a href="http://3dux.co.uk" target="_blank">3DUX</a> and <a href="http://idcreativemedia.co.uk" target="_blank">ID Creative Media</a> amongst others. My expertise pan to film and television where i was able to create post-production VFX using After Effects to  <a href="http://rathergood.com" target="_blank">Rathergood.com</a>'s productions <a href="http://unclewormsley.com" target="_blank">Uncle Wormsley's Christmas</a> and <a href="https://www.youtube.com/watch?v=WzTFuJyYVKg" target="_blank">Ship of Eagles</a> as well as HARK's music promo for <a href="https://www.youtube.com/watch?v=tH8huveLy4A" target="_blank">Scarlett Extremeties</a>.
    </p>
    
    <div class="show-more">
      <button type="button" class="show-more__trigger btn btn-link hidden-xs">
        <span class="toggle-show">Show</span>
        <span class="toggle-hide">Hide</span>
        more...
      </button>
      <div class="show-more__body">
        <p>
          Before my work at Digital Detox, for three years I leveraged and honed my technical expertise using Adobe CS and Developer skills (HTML, CSS, Javascript, PHP, MySQL, Actionscript) on key projects at <a href="http://framestore.com" target="_blank">Framestore</a> in their Design and Digital portfolio. A rewarding experience spanning interactive, VFX, motion graphics, titles and credits, and motion capture. Highlights include building British Airways’ “Take a Plane Down Your Street” web/Facebook app, which has been said to be <q cite="Mail%20On%20Sunday,%2023%20June%202012">The most successful social media app ever</q> (Mail On Sunday, 23 June 2012), titles and end rollers for the film “Tyrannosaur”, and working on visual graphics for Secret Cinema’s “Prometheus” show.
        </p>
        <p>
          In addition, my interest in live performance led me to co-create <a href="http://velvettrumpet.co.uk" target="_blank">Velvet Trumpet</a>, a theatre company in which I am Production Manager. I was thrilled to be at the helm of their first production “A Model Life”, which ran at The Network Theatre to rave reviews. Velvet Trumpet's latest production 'Don't Disturb the Driver' was featured at the 2013 Edinburgh Fringe, and we now hope to hold regular nights at the Hen &amp; Chickens Theatre Pub with our first show being "Toast".
        </p>
        <p>
          Specialties: Front end web Development (HTML/CSS/Javascript), VFX (AFTER Effects), Project Management/Production.
        </p>        
      </div>
    </div>
  </div>
</div>

<div class="work section">
  <div class="section__head">
    <h2>Work</h2>
  </div>
  <div class="section__content">
    <div class="row" id="work">
      {{!-- React loaded --}}
    </div>     
  </div>
</div>

<div id="knowledge" class="section knowledge">
  <h2>What I know</h2>
  <div class="section__content">
    <h3>Technical Knowledge</h3>
    <ul class="list-unstyled list-inline text-center">
      {{#each this.work}}
        <li><img src="images/{{src}}" alt="" class="knowledge__logo" srcset="images/{{src}} 1x, images/{{filename}}@2x.{{ext}} 2x"></li>
      {{/each}}
    </ul>
    <h3>Personal Skills</h3>
    <div class="knowledge__employer row">
      <ul>
        <li class="col-sm-6">Confident in front of large groups of people</li>
        <li class="col-sm-6">Strong leader with perspective across the entire project</li>
        <li class="col-sm-6">Proficient in project management</li>
        <li class="col-sm-6">Positive work ethic</li>
        <li class="col-sm-6">Extremely hard working, dedicated and happy to help</li>
        <li class="col-sm-6">Try and get the most out of people</li>
        <li class="col-sm-6">Strong desire to inspire</li>
      </ul>
    </div>          
  </div>
</div>

<div class="section">
  <div class="section__head">
    <h2>Solutions</h2>
  </div>
  <div class="section__content">
    <div class="row">
      <div class="col-md-6">
        <div class="block text-center">
          <span class="glyphicon glyphicon-console"></span>
          <h3>Website Development</h3>
          <p>
            I can provide solutions in front-end and back-end using Wordpress CMS. Specialising in HMTL5, CSS3 and Javascript with considerations towards SEO and accessibility. I produce clean, accessible code with you or your customers in mind.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block text-center">
          <span class="glyphicon glyphicon-star"></span>
          <h3>Compositor</h3>
          <p>
            Having worked in Television, and film both professionally and as a freelancer, I am capable of adding VFX and SFX to a production.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section experience">
  <div class="section__head">
    <h2 type="button">Where i've worked</h2>
  </div>
  <div class="section__content">
    <div class="experience__employer">
      <h3>
        <a href="http://www.digital-detox.co.uk" target="_blank" title="Digital Detox website">
          Digital Detox
        </a> 2012 - Present
      </h3>
      <span class="experience__role">Front-End Developer</span>

      <p>
        My work at Digital Detox involves high end bespoke UX and UI web development using primarily HTML, CSS, and Javascript and on occasions PHP. Digital Detox look to create high quality web products including websites and web applications for clients such as Vodafone, Bupa, Cancer Research. Digital Detox look to adopt the newest technologies from as they come available to help make the workflow as quick and cleanly as possible. 'DD's small team specialise in an Agile workflow where the team remain a tight unit to help one another achieve their goals and deliver great products.
      </p>
    </div>  
    <div class="experience__employer">
      <h3>
        <a href="http://www.velvettrumpet.co.uk" target="_blank" title="Velvet Trumpet">
          Velvet Trumpet
        </a> March 2012 - Present
      </h3>
      <span class="experience__role">Media/Marketing Manager</span>                

      <p>
        Founded in 2012, Velvet Trumpet is an “extracurricular” project. Run an oranised by myself and three others, Velvet Trumpet are a South London-based theatre company with a passion for intimate new comedies which delve into the humour and pathos of unexplored occupations and unexamined lives. I am responsible for organising media and marketing along with managing company. I also created and run the website.
      </p>

      <ul class="experience__job-list">
        <li>
          <a href="http://www.velvettrumpet.co.uk/money-womb" target="_blank">Money Womb (2015)</a>
        </li>
        <li>
          <a href="http://www.velvettrumpet.co.uk/the-choirmaster" target="_blank">The Choirmaster (2014)</a>
        </li>
        <li>
          <a href="http://www.velvettrumpet.co.uk/soggybrass" target="_blank" data-img="soggybrass">Soggy Brass: A night of new-comedy writing</a>
        </li>
      </ul>
    </div>
    <div class="experience__employer">
      <h3>
        <a href="http://www.framestore.com" target="_blank" title="Framestore website">
          Framestore
        </a> 2009 - 2012
      </h3>
      <span class="experience__role">Digital Developer</span>

      <p>
        Initially employed as a Flash Designer, My role quickly diversified to a diverse portfolio including web development, graphic work and high-end animation. Over the course of 3 years I touched on a huge variety of cutting-edge mediums ranging from sports stadium 'Jumbo-Trons', to film VFX and titles, TV, music videos, web, smartphones, online apps and graphic work.
      </p>

      <p>
        Highlights include building British Airways’ “Take a Plane Down Your Street” web / Facebook app, which has been said to be “the most successful social media app ever” (Mail On Sunday, 23 June 2012), titles and end rollers for “Tyrannosaur”, and working on visual graphics for Secret Cinema’s “Prometheus” show.
      </p>

      <ul class="experience__job-list">
        <li>
          <a href="http://taxi.ba.com/" target="_blank" data-img="ba">BA ‘Take a Taxi Down Your Street’</a> - Developer
        </li>
        <li>
          <a href="https://vimeo.com/45193293" target="_blank" data-img="prometheus">Secret Cinema’s Promethius</a> - Titles and VFX
        </li>
        <li>
          <a href="http://framestoredigital.com/2010/12/09/lg-3d-tv/" target="_blank">LG 'Rare Butterflies' Web app</a> - Developer  
        </li>
        <li>
          <a href="http://uk.imdb.com/title/tt1204340/" target="_blank" data-img="tyrannosaur">Tyrannosaur</a> - Front/End Titles
        </li>
      </ul>
    </div>
    <div class="experience__employer">
      <h3>
        <span class="employer-title">Freelancer</span>
        2009 - Present
        <span class="experience__role">Digital Developer</span>
      </h3>

      <p>
        I reflect my role in Framestore as a generalist. Primarily I focus on web development. This role is self managed and In some cases I have employed team members to help on larger projects and managed them. Through Framestore i was able to apply for a vacancy Rathergood where hiring for. The budget was low and expectations were high as the Rathergood’s first feature length film starred the voice talents of Steve Coogan as narrator, plus Julian Barratt and Julia Davis. It was an exciting project and I approached each day with a smile, even around my day job. I recruited an After Effects freelancer to help out in which I personally managed. We achieved everything beyond expectation and the client was very happy.
      </p>

      <ul class="experience__job-list">
        <li>
          <a href="http://www.3dux.co.uk/" target="_blank" data-img="3dux">3DUX</a> - Web Developer (HTML/Javascript/CSS/Wordpress)
        </li>
        <li>
          <a href="http://www.unclewormsley.com/" target="_blank" data-img="unclewormsley">Uncle Wormsley’s Christmas</a> - Compositor (After Effects)
        </li>
        <li>
          <a href="http://velvettrumpet.co.uk/" target="_blank" data-img="velvettrumpet">Velvet Trumpet Site</a> - Web Development (HTML/Javascript/CSS/Wordpress) - <a href="https://github.com/sambogreggers/velvettrumpet">View on Github</a>
        </li>
        <li>
          <a href="http://www.waspplumbing.com.au/" target="_blank">Wasp Plumbing Website SEO optimisation</a> - Web Development (HTML/SEO)
        </li>
      </ul>          
    </div>
  </div>
</div>

<div class="section quotes">
  <h2>What people have said</h2>
  <div class="section__content">
    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <a href="https://www.linkedin.com/profile/view?id=AAEAAABhqy0BSTewC16ucAcY5SkTEPPoDUdYmdU&amp;authType=name&amp;authToken=AYKQ" class="quotes__link">
            <img class="quotes__image" alt="Simon Gosling" width="60" height="60" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAV8AAAAJDA1YWYwZDc1LTg4MTktNDg1Zi04MmQ4LTIzNGZlMDQyYWNjOA.jpg">
          </a>
        </div>
        <blockquote>
          <p>During his 3 years at Framestore, I have needed Sam's skills on a variety of projects from the small - creating animated Gifs, to the large - creating After Effects animations to be displayed across a 60meter screen via 9 HD projectors!</p>

          <p>He approached everything with great enthusiasm and his output was always delivered promptly and to the client's satisfaction.</p>

          <p>In addition, he's an interesting, kind and nice guy to work with and a great member of any team.</p>
          <footer>Simon Gosling Former Executive Producer at <a href="http://framestore.com" target="_blank" title="go to framestores website">Framestore</a></footer>
        </blockquote>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <a href="https://www.linkedin.com/profile/view?id=AAEAAAGHtIgBQdqNRCM4V0HF_WNNxmwwaxibg-U&amp;authType=name&amp;authToken=3nHi">
            <img class="quotes__image" alt="Joel Veitch" width="60" height="60" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/3/000/00b/1c2/305a559.jpg">
          </a>
        </div>
        <blockquote>
          <p>
            We hired Sam to work on visual effects on our animation Uncle Wormsley's Christmas. The project was highly pressured and involved extremely tight deadlines. Sam always came up with excellent work with a smile, regardless of how unreasonable my requests were. 
          </p>

          <p>He was a joy to work with all round and i cannot recommend him highly enough. Really excellent.</p>
          <footer>Joel Veitch Owner at <a href="http://rathergood.com" target="_blank" title="Go to rathergood.com website">Rathergood.com</a></footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>