<header>
  <div class="header">
    <div class="title">
      <img src="images/head-logo.jpg" width="280" alt="Sam Gregory Dot Media" />

      <div class="social-items text-right">
        <ul class="list-unstyled list-inline">
          <li>More at:</li>
          <li>
            <a href="https://uk.linkedin.com/in/samgregorydigital" target="_blank">
              <span class="sr-only">Linked in</span>
              <i class="fa fa-linkedin-square"></i>
            </a>
          </li>
          <li>
            <a href="http://github.com/sambogreggers" target="_blank">
              <span class="sr-only">Github</span>
              <i class="fa fa-github fa-2"></i>
            </a>            
          </li>
        </ul>
        
      </div>

    </div>

    <div class="nav-wrap">
      <nav>
        <ul class="list-unstyled list-inline">
          <li>
            <a href="#home" class="scroll">
              <span class="sr-only">Jump to... </span>
              Who I am
              <span class="sr-only">section (about me)</span>
            </a>
          </li>
          <li>
            <a href="#work" class="scroll">
              <span class="sr-only">Jump to... </span>
              What I've done
              <span class="sr-only">section (work)</span>
            </a>
          </li>
          <li>
            <a href="#knowledge" class="scroll">
              <span class="sr-only">Jump to... </span>
              What I know
              <span class="sr-only">section (technical knowledge)</span>
            </a>
          </li>
          <li class="pull-right">
            <span class="sr-only">Contact me at: </span>
            <a href="mailto:samuelgregory@me.com">samuelgregory@me.com</a>
          </li>
        </ul> 
      </nav>
    </div>
  </div>
</header>