<header>
  <div class="header">
    <div class="title">
      <img src="images/head-logo.jpg" width="280" alt="Sam Gregory Dot Media" />

      <div class="social-items text-right">
        More at:
        <a href="https://uk.linkedin.com/in/samgregorydigital" target="_blank">
          <img src="images/linkedin.png" alt="" width="30" height="25">
        </a>
      </div>

    </div>

    <div class="nav-wrap">
      <nav>
        <ul class="list-unstyled list-inline">
          <li>
            <a href="#home" class="scroll">Who I am</a>
          </li>
          <li>
            <a href="#knowledge" class="scroll">What I know</a>
          </li>
          <li>
            <a href="#exp" class="scroll" >What I've done</a>
          </li>
        </ul> 
      </nav>
    </div>
  </div>
</header>